<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<properties resource="properties/oracle.properties"/>
	
	<typeAliases>
		<typeAlias type="com.min.edu.dto.UserDTO" alias="UDTO"/>
	</typeAliases>
	
	<environments default="enviroment">
		<environment id="enviroment">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${user}"/>
				<property name="password" value="${pw}"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="sqls/User_Statement.xml"/>
	</mappers>
</configuration>
