<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
	
	<display-name>web005_Mybatis_JSPController_user</display-name>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<!-- servlet 2.X방식 -->
	<servlet>
		<servlet-name>userServelet</servlet-name>
		<servlet-class>com.min.edu.ctrl.UserController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>userServelet</servlet-name>
		<url-pattern>/userServelet.do</url-pattern>
	</servlet-mapping>
	
	
</web-app>