<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

<!-- [1] mybatis의 환경 옵션 MapUnderScoreToCalmel : job_id = jobId  -->
<!-- [2] 환경설정 파일 properties  -->
<!-- [3] DTO/VO의 사용되는 객체의 위치가 길기 때문에 단순한 변수로 선언 typeAlias -->
<!-- 4. 접속정보(transaction + Datasource) -->
<!-- 5. 쿼리문이 있는 xml파일 혹은 interface파일의 위치 -->

<environments default="development">
	<environment id="development">
		<transactionManager type="JDBC"/>
		<dataSource type="POOLED">		
			<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
			<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
			<property name="username" value="hr"/>
			<property name="password" value="hr"/>
		</dataSource>
	</environment>
</environments>

<mappers>
	<mapper resource="com/min/edu/mybatis/Jobs_mapper.xml"/>
	<mapper resource="com/min/edu/mybatis/One_To_Many.xml"/>
</mappers>

</configuration>




