@charset "UTF-8";

body{
	margin: 0px;
}
h1{
	margin: 0px;
}
header{
	height: 70px;
	background-color: rgb(34,34,34);
	margin: 0 auto;
	font-size: 1.2em;
	color: white;
	padding-top:20px;
}
#left{
	float: left;
	display: flex;
}
#left>div{
	width: 100px;
	margin: 0 10px;
}
#right{
	float: right;
	display: flex;
}
#right>div{
	width: 100px;
}
.menu>a{
	text-decoration: none;
	color : white;	
}
.container{
	width: 800px;
	height: 700px;
	margin : 0 auto;
	text-align: center;
}

input{
	vertical-align: middle;
	color: black;
}
.btn{
	color: black;
	font-weight: bold;
}

.fileTable a {
	color : black
}