@charset "UTF-8";

#colorBox{
	width:330px;
	height:300px;
	position: relative;
	border: 1px dotted #ccc;
	padding: 5px;
	box-sizing: border-box;
}
#colorBox>div{
	width: 150px;
	height: 120px;
	border: 1px solid black;
	margin: 5px;
	position: absolute;
	text-align: center;	
}

#blue{
	left: 160px;
}
#yellow{
	top:160px;
}
#green{
	left:160px;
	top:160px;
}