<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	
	<!-- xml에서 공통으로 사용되는 변수로 사용될 tag를 선언 -->
    <Properties>
        <Property name="logNm">Spring Log4j2</Property>
        <Property name="layoutPattern">%style{%d{yyyy/MM/dd HH:mm:ss,SSS}}{cyan} %highlight{[%-5p]}{FATAL=bg_red, ERROR=red,
            INFO=green, DEBUG=blue}  [%C] %style{[%t]}{yellow} %m%n</Property>
    </Properties>
    
    <!--
    	로그를 적용하게 될 곳
    	Console_Appender target="SYSTEM_OUT" : IDE의 console에 출력하겠다
     -->
    <Appenders>
    
        <Console name="Console_Appender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy/MM/dd HH:mm:ss} %m %n"/>
        </Console>
    	
    	<!--
    	로그를 적용하게 될 곳
    	<RollingFile name="File_Appender" / fileName="logs/${logNm}.log 현재 프로젝트에 property에 있는 Spring log4j2라는 이름으로
    		로그파일을 만들겠다.
	     -->
        <RollingFile name="File_Appender" fileName="logs/${logNm}.log" filePattern="./logs/${logNm}_%d{yyyy-MM-dd}_%i.log.gz">
            <PatternLayout pattern="${layoutPattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1000KB"/>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="10" fileIndex="min"/>
        </RollingFile>
        
    </Appenders>
    
    <Loggers>
        <Root level="TRACE" additivity="false">
            <AppenderRef ref="Console_Appender"/>
            <AppenderRef ref="File_Appender"/>
        </Root>
    </Loggers>
</Configuration>