<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
	
	<display-name>Web Application</display-name>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- 요청된 주소와 연결된 java 클래스 -->
	<servlet>
		<servlet-name>emplist</servlet-name>
		<servlet-class>com.min.edu.ctrl.EmpListServlet</servlet-class>
	</servlet>
	
	<!-- 요청된 주소와 연결된 주소 -->
	<servlet-mapping>
		<servlet-name>emplist</servlet-name>
		<url-pattern>/empAllList.do</url-pattern>
	</servlet-mapping>
</web-app>