@charset "UTF-8";

td,
tr {
    border: 1px solid #009000;
    padding: 10px;
}

table {
    width: 600px;
    border: 3px solid palevioletred;
    border-bottom-color: blue;
    text-align: center;
    margin: 20px;
    border-collapse: collapse;
}

.txt_bold {
    font-weight: bold;
}

th {
    text-align: center;
}

.tab2 thead{
    background-color: orange;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px double greenyellow;
    padding: 5px 0px;
}
.tab2 tfoot{
    background-color: yellow;
}
.tab2 tr :hover{
    background-color: aqua;
    text-align: left;
}
