@charset "UTF-8";
body{
    background-color: #b5a789;
    font-family: 'Times New Roman', Times, serif;
}
#header{
    background-color: #675c47;
    margin: 10px;
    height: 110px;
    text-align: center;
}
#main{
    background: #efe5dd url(../img/background/background.gif) top left;
    font-size: 105%;
    padding: 15px;
    margin: 0px 10px 10px 10px;
}

#footer{
    background: #675c47;
    color: #efe5dd;
    text-align: center;
    padding: 15px;
    margin: 10px;
    font-size: 90%;
}

#sidebar{
    background: #efe5dd url(../img/background/background.gif) top left;
    font-size: 105%;
    padding: 15px;
    margin: 0px 10px 10px;
}

.heading{
    text-align: center;
    line-height: 1.8em;
}

.slogan{
    color: #954b4b;
}

h1{
    font-size: 120%;
    color: #954b4b;
}

a:visited{
    color: #7b6666;
    text-decoration: none;
    border-bottom: thin dotted #7b6666;
}
a:link{
    color: #676767;
    text-decoration: none;
    border-bottom: thin dotted #676767;
}
