@charset "UTF-8";

.box{
	width:300px;
	background-color: #191919;
	text-align: center;
	padding :40px;
	margin : 100px auto;
}

.box h1{
	color: white;
	text-transform: uppercase;
	font-weight: 500;
}

.box input[type="text"], .box input[type="password"] {
	border: 0px;
	background: none;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3497db;
	padding :15px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 26px;
	transition : 0.25s;
}
.box input[type="text"]:hover, .box input[type="password"]:hover{
	width:280px;
	border-color: orange;
}

.box input[type="submit"]{
	border: 0px;
	background: #3497db;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3497db;
	padding :15px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 26px;
}
.box input[type="submit"]:hover{
	background: orange;
	cursor: progress;
}

